= wrap_layout :layout do
  %section.blog
    %div.wrap
      %article.post
        %aside.post-aside
          %h2= current_article.date.strftime('%B %e, %Y')

        %section.post-content
          %h3.title= link_to current_article.title, current_article
          %div.content= current_article.body
          %footer.comments
