!!! 5
%html.no-js
  %head
    %meta{charset: 'utf-8'}
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{content: 'ie=edge,chrome=1', 'http-equiv': 'x-ua-compatible'}
    %title= page_title(current_page.data.title)
    %meta{name: 'description', content: 'Personal website of Stephen Caudill, software developer extraodinaire.'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %link{rel: 'alternate', type: 'application/rss+xml', title: 'RSS', href: 'http://feeds.feedburner.com/stephencaudill'}
    %link{rel: 'alternate', type: 'application/atom+xml', title: 'Atom 1.0', href: 'http://feeds.feedburner.com/stephencaudill'}
    %link{href: 'http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400italic,700,400|Open+Sans:700', rel: 'stylesheet', type: 'text/css'}
    = stylesheet_link_tag "main"
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-62451721-1', 'auto');
      ga('send', 'pageview');

  %body{class: page_classes}
    %header.main-header
      %div.wrap
        %h1.logo
          %a{href: "/"}
            %span.lambda
            Stephen Caudill

        %nav.main-nav
          %ul
            %li
              %a{href: "/blog"} Blog
            %li
              %a{href: "mailto:hello@stephencaudill.com"} Email

    = yield

%section{class: page_classes.include?('blog') ? 'communication-gray' : 'communication'}
  %div.wrap
    %aside.content-aside
      %h2 Communication

    %section.email
      %h3 Email
      %a{href: "mailto:hello@stephencaudill.com"}hello@stephencaudill.com

    %section.elsewhere
      %h3 Elsewhere
      %ul
        %li
          %a{href: "https://www.github.com/voxdolo"}Github
        %li
          %a{href: "https://www.linkedin.com/in/stephen-caudill"}Linkedin
        %li
          %a{href: "https://keybase.io/voxdolo"}Keybase
