.blog {
  margin-bottom: 3.125em;

  @include media($medium-screen-up) {
    margin-bottom: 6.25em;
  }
}

.post {
  @include clearfix;
  @include fill-parent;
  margin-bottom: $base-spacing * 2;
}

.post-aside {
  @include fill-parent;
  margin-bottom: $base-spacing;
  text-align: center;

  @include media($medium-screen-up) {
    @include span-columns(2 of 8);
    margin-bottom: 0;
    padding-top: .75em;
  }

  @include media($large-screen-up) {
    @include span-columns(3 of 12);
    @include shift(1);
  }

  h2 {
    color: $transparent-black;
    font-size: 0.875em;
    text-transform: uppercase;
  }
}

.post-content {
  @include fill-parent;

  @include media($medium-screen-up) {
    @include span-columns(6 of 8);
    @include omega;
  }

  @include media($large-screen-up) {
    @include span-columns(8 of 12);
  }
}

.title {
  color: $blue;
  font-family: $base-font-family;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.5em;
  text-align: center;

  @include media($medium-screen-up) {
    text-align: left;
  }
}

.more a {
  color: $transparent-black;
  font-family: $heading-font-family;
  font-size: 0.875em;
  text-transform: uppercase;

  &:hover {
    color: $black;
  }
}

.content {
  img {
    margin-bottom: $base-spacing;
  }
}

.highlight {
  @include clearfix;
  @include fill-parent;
  background-color: white;
  border-radius: $base-border-radius;
  margin-bottom: $base-spacing;

  pre,
  code {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
  }
}
