%header.main-header
  %div.wrap
    %h1.logo
      %a{href: "/"}
        %span.lambda
        Stephen Caudill

    %nav.main-nav
      %ul
        %li
          %a{href: "#"} Blog
        %li
          %a{href: "mailto:hello@stephencaudill.com"} Email

%section.banner
  %div.wrap
    %img{src: "images/stephen.jpg"}

%section.about
  %div.wrap
    %aside.content-aside
      %h2 About Stephen

    %section.about-content
      %h3 Stephen is a full-stack developer focused on Clojure, Ruby and iOS
      %div.about-content-columns
        %p
          As a young man in Florida, Stephen came to programming via digital
          music production. In order to tackle a problem he and his friends
          were having sharing the large music files, he turned to Perl and
          cobbled together an upload script that posted files to his home
          server circa 1998. He immediately started thinking about other ways
          he might be able to make his digital life easier, voraciously
          consuming everything he could read on the topic of programming. It
          rapidly became apparent that, not only did he enjoy writing these
          scripts, but he was actually pretty good at it.
        %p
          Flash forward nearly two decades and Stephen has been steeped in
          virtually every aspect of tech. He has spent time in enterprises,
          startups and consultancies. From each sector he's gained further
          insight into the honing of his own craft. We find in him an
          experienced leader who delights in crafting human solutions when
          possible and technical solutions when necessary. In technical
          solutions, he wields a functional approach, evolving code-bases from
          MVPs and letting the shape of the data determine its storage.

%section.the-goods
  %div.wrap
    %aside.content-aside
      %h2 The Goods

    %section.proficiencies
      %h3 Proficiencies
      %ul
        %li Clojure
        %li Ruby
        %li Rails
        %li Objective-C
        %li API Design
        %li System Architecture
        %li Agile Methodologies

    %section.open-source
      %h3 Open Source Contributions
      %ul
        %li
          %a{href: "https://github.com/hashrocket/decent_exposure"}Decent Exposure
        %li
          %a{href: "https://github.com/voxdolo/tomatoist"}Tomatoist (a Pomodoro timer)
        %li
          %a{href: "https://github.com/voxdolo/funcussion"}Funcussion
        %li
          %a{href: "https://github.com/hashrocket/dibs-ios"}Dibs iOS client

%section.communication
  %div.wrap
    %aside.content-aside
      %h2 Communication

    %section.email
      %h3 Email
      %a{href: "mailto:hello@stephencaudill.com"}hello@stephencaudill.com

    %section.elsewhere
      %h3 Elsewhere
      %ul
        %li
          %a{href: "https://www.github.com/voxdolo"}Github
        %li
          %a{href: "https://www.linkedin.com/in/voxdolo"}Linkedin
        %li
          %a{href: "https://coderwall.com/voxdolo"}Coderwall
        %li
          %a{href: "https://twitter.com/voxdolo"}Twitter
        %li
          %a{href: "https://keybase.io/voxdolo"}Keybase
