%header.main-header
  %div.wrap
    %h1.logo
      %a{href: "/"}
        %span.lambda
        Stephen Caudill

    %nav.main-nav
      %ul
        %li
          %a{href: "#"} Blog
        %li
          %a{href: "#"} Email

%section.banner
  %div.wrap
    %img{src: "images/stephen.jpg"}

%section.about
  %div.wrap
    %aside.content-aside
      %h2 About Stephen

    %section.about-content
      %h3
        Stephen is a full-stack engineer focused on Clojure and other great
        things involving development, babies, and making awesome.
      %div.about-content-columns
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit
          amet rhoncus neque. Morbi quam risus, vehicula eget scelerisque ac,
          rhoncus nec mi. Sed lectus sapien, hendrerit nec purus in, malesuada
          cursus nisl. In malesuada, quam eu iaculis efficitur, nunc quam
          congue neque, et scelerisque elit dolor sed tellus. Proin luctus
          nulla in finibus consectetur. Integer eleifend rhoncus sagittis.
        %p
          Proin felis tellus, elementum fringilla efficitur non, venenatis eget
          nibh. Nullam odio arcu, suscipit ut sagittis et, tempor eget ligula.
          In semper auctor tortor quis porttitor. Pellentesque vitae ante vel
          ex tristique mattis. Integer metus ante, efficitur sed nulla quis,
          ultricies dictum ante. Sed tempor purus ante. Nunc

%section.the-goods
  %div.wrap
    %aside.content-aside
      %h2 The Goods

    %section.proficiencies
      %h3 Proficiencies
      %ul
        %li Ruby
        %li Rails
        %li Rubys and Rails
        %li Clojure

    %section.open-source
      %h3 Open Source Contributions
      %ul
        %li
          %a{href: "#"}A Gem
        %li
          %a{href: "#"}A Gem
        %li
          %a{href: "#"}A Gem
        %li
          %a{href: "#"}A Gem

%section.communication
  %div.wrap
    %aside.content-aside
      %h2 Communication

    %section.email
      %h3 Email
      %a{href: "#"}hello@stephencaudill.com

    %section.elsewhere
      %h3 Elsewhere
      %ul
        %li
          %a{href: "#"}Github
        %li
          %a{href: "#"}Linkedin
        %li
          %a{href: "#"}Coderwall
        %li
          %a{href: "#"}Twitter
